/*******************
 * Variables
 *******************/
/*******************
 * General
 *******************/
body, html {
  font-size: 10px;
  font-family: "Helvetica Narrow", Arial;
  width: 100%;
  height: 100%; }

.wrapper {
  margin-top: -10px; }

.super {
  vertical-align: super; }

.title, .title-sm, .title-xs {
  color: #17468c;
  font-weight: 700;
  font-size: 2.7rem;
  letter-spacing: -0.07rem; }
  .title .super, .title-sm .super, .title-xs .super {
    font-size: 1.5rem; }

.title-xs {
  font-size: 1.6rem; }

.title-sm {
  font-size: 1.8rem; }

.text {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.04rem; }

.title.blue, .title-sm.blue, .text.blue, .title-xs.blue {
  color: #347fc5 !important; }
.title.gray, .title-sm.gray, .text.gray, .title-xs.gray {
  color: #5a5858 !important; }
.title.light-blue, .title-sm.light-blue, .text.light-blue, .title-xs.light-blue {
  color: #3173b4 !important; }
.title.light-gray, .title-sm.light-gray, .text.light-gray, .title-xs.light-gray {
  color: #8c8c8c !important; }
.title.green, .title-sm.green, .text.green, .title-xs.green {
  color: #64b49c !important; }

.dot-line {
  height: 1px;
  background-image: linear-gradient(to right, #8c8c8c 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 5px 10px;
  background-repeat: repeat-x; }

/*******************
 * Header
 *******************/
.header {
  background-color: #17468c;
  width: 100%;
  height: 85px; }
  .header .logo {
    color: white;
    font-style: italic; }
    .header .logo h1 {
      font-weight: 800;
      font-size: 3.5rem;
      letter-spacing: 0.1em; }

/*******************
 * Index
 *******************/
.wrapper.index {
  background-image: url("/img/index_bg1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top -35px left 0;
  overflow: hidden; }
  .wrapper.index .welcome {
    position: relative; }
    .wrapper.index .welcome img {
      width: 100%; }
    .wrapper.index .welcome .content {
      display: table;
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }
      .wrapper.index .welcome .content .title, .wrapper.index .welcome .content .date {
        margin-top: 0.5rem; }
      .wrapper.index .welcome .content .title {
        color: #192d85; }
        .wrapper.index .welcome .content .title.date {
          background-color: #e69837;
          display: table;
          color: white; }
  .wrapper.index .info {
    margin-top: 28px;
    background-image: url("/img/index_bg2.png");
    background-size: 100% 118%;
    background-repeat: no-repeat;
    padding: 15px 15%;
    padding-bottom: 18%;
    overflow: hidden; }
    .wrapper.index .info .remind p {
      font-size: 1.8rem; }
    .wrapper.index .info .remind h2 {
      font-size: 2.2rem; }
    .wrapper.index .info .box {
      z-index: 500;
      width: 150%;
      height: 150%;
      margin-left: -50%;
      background-color: #fff;
      border: 1px solid #444; }

/*******************
 * Cont & Agenda
 *******************/
.wrapper.cont .content, .wrapper.agenda .content {
  padding: 2rem 0; }
  .wrapper.cont .content .paragraph, .wrapper.agenda .content .paragraph {
    padding: 1rem 2rem; }
    .wrapper.cont .content .paragraph .title.date, .wrapper.agenda .content .paragraph .title.date {
      color: #64b49c; }
    .wrapper.cont .content .paragraph .text, .wrapper.agenda .content .paragraph .text {
      color: #3173b4; }

.wrapper.cont {
  background-image: url("/img/index_bg3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: calc(100vh - 85px + 15px); }
  .wrapper.cont .more img {
    height: 5rem; }

.wrapper.agenda {
  background-image: url("/img/general_bg.jpg");
  background-size: 100% 115%;
  background-repeat: no-repeat;
  min-height: calc(100vh - 85px + 15px); }
  .wrapper.agenda .content {
    padding-bottom: 0; }
    .wrapper.agenda .content.top .text {
      margin-top: -0.2rem; }
    .wrapper.agenda .content ~ .content {
      padding-top: 0; }
    .wrapper.agenda .content .paragraph {
      padding-bottom: 0; }
    .wrapper.agenda .content .text.blue {
      font-weight: 500; }
    .wrapper.agenda .content .text.gray {
      font-weight: 500; }
    .wrapper.agenda .content .text.small {
      font-size: 1.3rem;
      font-weight: 300;
      margin-top: -0.2rem; }
  .wrapper.agenda .banner {
    margin-bottom: 0.5rem;
    padding: 0.1rem 2rem;
    background-color: #347fc5;
    -moz-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.8); }
    .wrapper.agenda .banner .title {
      font-size: 2rem;
      color: white;
      letter-spacing: 0; }

/*******************
 * Menu
 *******************/
.wrapper.menu {
  background-image: url("/img/general_bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 10vh;
  min-height: calc(100vh - 85px - 85px); }
  .wrapper.menu .circles {
    position: relative; }
    .wrapper.menu .circles img.bg {
      width: 85%; }
    .wrapper.menu .circles img.top {
      position: absolute; }
      .wrapper.menu .circles img.top.agenda {
        width: 58%;
        top: -6%;
        left: 21%; }
      .wrapper.menu .circles img.top.speaker {
        width: 45%;
        top: 45%;
        left: 0%; }
      .wrapper.menu .circles img.top.aki {
        width: 43%;
        top: 71%;
        left: 47%; }

/*******************
 * Footer
 *******************/
.footer {
  height: 85px; }
  .footer .icon {
    width: 6rem; }
