/*******************
 * Variables
 *******************/
$color-header: #17468C;
$color-title: #192D85;
$color-orange: #E69837;
$color-banner: #347FC5;
$color-font: #3173B4;
$color-green: #64B49C;
$color-gray: #8C8C8C;
$color-dark: #5A5858;

$header-height: 85px;
$footer-height: 85px;

@mixin background($path, $size: 100%) {
	background-image: url($path);
	background-size: $size;
	background-repeat: no-repeat;
}



/*******************
 * General
 *******************/
body, html {
	font-size: 10px;
	font-family: "Helvetica Narrow", Arial;
	width: 100%;
	height: 100%;
}
.wrapper {
	margin-top: -10px;
}
.super {
	vertical-align: super;
}
.title, .title-sm {
	color: $color-header;
	font-weight: 700;
	font-size: 2.7rem;
	letter-spacing: -0.07rem;
	.super {
		font-size: 1.5rem;
	}
}
.title-sm {
	font-size: 1.8rem;
}
.text {
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: -0.04rem;
}
.dot-line {
	height: 1px;
	background-image: linear-gradient(to right, $color-gray 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 5px 10px;
	background-repeat: repeat-x;
}


/*******************
 * Header
 *******************/
.header {
	background-color: $color-header;
	width: 100%;
	height: $header-height;

	.logo {
		color: white;
		font-style: italic;

		h1 {
			font-weight: 800;
			font-size: 3.5rem;
			letter-spacing: 0.1em;
		}
	}
}

/*******************
 * Index
 *******************/
.wrapper.index {
	@include background("/img/index_bg1.png");
	background-position: top -35px left 0;
	overflow: hidden;

	.welcome {
		position: relative;
		img {
			width: 100%;
		}
		.content {
			display: table;
			position: absolute;
            top: 47%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

            .title, .date {
				margin-top: 0.5rem;
			}
			.title {
				color: $color-title;
				&.date {
					background-color: $color-orange;
					display: table;
					color: white;
				}
			}
		}
	}
	.info {
		margin-top: 28px;
		@include background("/img/index_bg2.png", 100% 118%);
		padding: 15px 15%;
		padding-bottom: 18%;
		overflow: hidden;

		.remind {
			p {
				font-size: 1.8rem;
			}

			h2 {
				font-size: 2.2rem;
			}
		}

		.box {
			z-index: 500;
			width: 150%;
			height: 150%;
			margin-left: -50%;
			background-color: #fff;
			border: 1px solid #444;
		}
	}
}

/*******************
 * Cont & Agenda
 *******************/
.wrapper.cont, .wrapper.agenda {
	.content {
		padding: 2rem 0;
		.paragraph {
			padding: 1rem 2rem;
			.title {
				&.date {
					color: $color-green;
				}
			}
			.text {
				color: $color-font;
			}
		}
	}
}

.wrapper.cont {
	@include background("/img/index_bg3.jpg", 100% 100%);
	min-height: calc(100vh - #{$header-height} + 15px);
	.more {
		img {
			height: 5rem;
		}
	}
}

 .wrapper.agenda {
 	@include background("/img/general_bg.jpg", 100% 115%);
 	min-height: calc(100vh - #{$footer-height} + 15px);
 	.content {
 		padding-bottom: 0;
 		&.top {
 			.text {
 				margin-top: -0.2rem;
 			}
 		}
		& ~ .content {
			padding-top: 0;
		}
		.paragraph {
			padding-bottom: 0;
		}
		.text {
			&.blue {
				font-weight: 500;
			}
			&.gray {
				font-weight: 500;
				color: $color-dark;
			}
			&.small {
				font-size: 1.3rem;
				font-weight: 300;
     			margin-top: -0.2rem;
			}
		}
 	}

	.banner {
		margin-bottom: 0.5rem;
		padding: 0.1rem 2rem;
		background-color: $color-banner;
		-moz-box-shadow: 0 5px 10px -4px rgba(black, 0.8);
		-webkit-box-shadow: 0 5px 10px -4px rgba(black, 0.8);
		box-shadow: 0 5px 10px -4px rgba(black, 0.8);
		.title {
			font-size: 2rem;
			color: white;
			letter-spacing: 0;
		}
	}
 }




/*******************
 * Menu
 *******************/
.wrapper.menu {
	@include background("/img/general_bg.jpg");
	padding-top: 10vh;
	min-height: calc(100vh - #{$header-height} - #{$footer-height});

	.circles {
		position: relative;
		img.bg {
			width: 85%;
		}
		

        img.top {
        	position: absolute;
        	&.agenda {
        		width: 58%;
        		top: -6%;
        		left: 21%;
        	}
        	&.speaker {
        		width: 45%;
        		top: 45%;
        		left: 0%;
        	}
        	&.aki {
        		width: 43%;
        		top: 71%;
        		left: 47%;
        	}
        }
	}
}


/*******************
 * Footer
 *******************/
.footer {
	height: $footer-height;
	.icon {
		width: 6rem;
	}
}
