/*******************
 * Variables
 *******************/
$color-header: #17468C;
$color-title: #192D85;
$color-orange: #E69837;
$color-banner: #347FC5;
$color-font: #3173B4;
$color-green: #64B49C;
$color-gray: #8C8C8C;
$color-dark: #5A5858;

$header-height: 85px;
$footer-height: 85px;

@mixin background($path, $size: 100%) {
	background-image: url($path);
	background-size: $size;
	background-repeat: no-repeat;
}

@font-face {
    font-family: HelveticaNeue;
    src: url("../font/HelveticaNeue-CondensedBold.otf") format("opentype");
}



/*******************
 * General
 *******************/
body, html {
	font-size: 11px;
	font-family: HelveticaNeue, Arial;
	width: 100%;
	height: 100%;
}
.wrapper {
	margin-top: -10px;
}
.super {
	vertical-align: super;
}
.title, .title-sm, .title-xs, .title-md {
	color: $color-header;
	font-weight: 700;
	font-size: 2.35rem;
	.super {
		font-size: 1.5rem;
	}
}
.title-md {
	font-size: 2.2rem;
}
.title-sm {
	font-size: 1.8rem;
}
.title-xs {
	font-size: 1.6rem;
}
.text {
	font-weight: 700;
	font-size: 1.5rem;
}
.text-sm {
	font-size: 1.3rem;
}
.title, .title-sm, .text, .title-xs, .title-md, .text-sm{
	&.blue {
		color: $color-banner !important;
	}
	&.gray {
		color: $color-dark !important;
	}
	&.light-blue {
		color: $color-font !important;
	}
	&.light-gray {
		color: $color-gray !important;
	}
	&.green {
		color: $color-green !important;
	}
}
.banner {
	margin-bottom: 0.5rem;
	padding: 0.1rem 2rem;
	background-color: $color-banner;
	-moz-box-shadow: 0 5px 10px -4px rgba(black, 0.8);
	-webkit-box-shadow: 0 5px 10px -4px rgba(black, 0.8);
	box-shadow: 0 5px 10px -4px rgba(black, 0.8);
	.title {
		font-size: 2rem;
		color: white;
		letter-spacing: 0.2rem;
	}
}
.dot-line {
	height: 1px;
	background-image: linear-gradient(to right, $color-gray 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 5px 10px;
	background-repeat: repeat-x;
}
.dot-line-green {
	height: 5px;
	background-image: linear-gradient(to right, $color-green 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 13px 10px;
	background-repeat: repeat-x;
}


/*******************
 * Header
 *******************/
.header {
	background-color: $color-header;
	width: 100%;
	height: $header-height;

	.logo {
		line-height: 70px;

		img {
			height: 4.5rem;
		}
	}
}

/*******************
 * Index
 *******************/
.wrapper.index {
	@include background("/img/index_bg1.png");
	background-position: top -35px left 0;
	overflow: hidden;

	.welcome {
		position: relative;
		img {
			width: 100%;
		}
		.content {
			display: table;
			position: absolute;
            top: 47%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

            .title, .date {
				margin-top: 0.5rem;
			}
			.title {
				color: $color-title;
				&.date {
					background-color: $color-orange;
					display: table;
					color: white;
				}
			}
		}
	}
	.info {
		margin-top: 28px;
		@include background("/img/index_bg2.png", 100% 118%);
		padding: 15px 15%;
		padding-bottom: 18%;
		overflow: hidden;

		.remind {
			p {
				font-size: 2rem;
			}

			h2 {
				font-size: 2.2rem;
			}
		}

		.box {
			margin-top: -15px;
			width: 120px;
			height: 120px;
			overflow: hidden;
		}
	}
}

/*******************
 * Cont & Agenda
 *******************/
.wrapper.cont, .wrapper.agenda {
	.content {
		padding-top: 1rem;
		padding-bottom: 2rem;
		.paragraph {
			padding: 1rem 2rem;
			.title-md {
				&.date {
					color: $color-green;
				}
			}
			.text {
				color: $color-font;
			}
		}
	}
}

.wrapper.cont {
	@include background("/img/index_bg3.jpg", 100% 100%);
	min-height: calc(100vh - #{$header-height} + 15px);
	.more {
		img {
			height: 6rem;
		}
	}
	.title {
		font-size: 2.4rem;
	}
}

 .wrapper.agenda {
 	@include background("/img/general_bg.jpg", 100% 115%);
 	min-height: calc(100vh - #{$footer-height} + 15px);

 	&.no-foot {
 		min-height: calc(100vh - 15px);
 	}
 	.content {
 		padding-bottom: 0;
 		&.top {
 			.text {
 				margin-top: -0.2rem;
 			}
 		}
		& ~ .content {
			padding-top: 0;
		}
		.paragraph {
			padding-bottom: 0;
		}
		.text {
			&.blue {
				font-weight: 500;
			}
			&.gray {
				font-weight: 500;
			}
			&.small {
				font-size: 1.3rem;
				font-weight: 300;
     			margin-top: -0.2rem;
			}
		}
 	}
}

/*******************
 * Speaker
 *******************/
.wrapper.speaker {
 	@include background("/img/general_bg.jpg", 100% 115%);
 	min-height: calc(100vh - #{$footer-height} + 15px);
 	.content {
 		padding: 1rem 2rem;
		&.top {
			padding-top: 1.8rem;
		}
		.more {
			img {
				width: 120%;
			}
		}
		.bottom-line {
			.dot-line-green {
				position: absolute;
				top: calc(50% - 2.5px);
				left: 0;
				width: 100%;
			}
		}
 	}
}
.wrapper.speaker-each {
 	@include background("/img/general_bg.jpg", 100% 115%);
 	min-height: calc(100vh - #{$footer-height} + 15px);

 	.content {
 		padding: 2rem;
 		padding-top: 1rem;
 		&.top {
			padding-top: 2.5rem;
			padding-bottom: 0.5rem;
		}
		.more {
			img {
				width: 100%;
			}
		}
		.bottom-line {
			.dot-line-green {
				position: absolute;
				top: calc(50% - 2.5px);
				left: 0;
				width: 100%;
			}
		}
		.list {
			vertical-align: top;
			& + td {
  				// text-align: justify;
  				& p {
					-webkit-hyphens: auto;
					-moz-hyphens: auto;
					-ms-hyphens: auto;
	  				hyphens: auto;
  				}
			}
		}
 	}

 	.speaker-cv {
 		img {
 			height: 3rem;
 		}
 	}
}




/*******************
 * Menu
 *******************/
.wrapper.menu {
	@include background("/img/general_bg.jpg");
	padding-top: 10vh;
	min-height: calc(100vh - #{$header-height} - #{$footer-height});

	.circles {
		position: relative;
		img.bg {
			width: 85%;
		}
		

        img.top {
        	position: absolute;
        	&.agenda {
        		width: 58%;
        		top: -6%;
        		left: 21%;
        	}
        	&.speaker {
        		width: 45%;
        		top: 45%;
        		left: 0%;
        	}
        	&.aki {
        		width: 43%;
        		top: 71%;
        		left: 47%;
        	}
        }
	}
}


/*******************
 * Footer
 *******************/
.footer {
	height: $footer-height;
	a {
		&.disabled {
			visibility: hidden;
			pointer-events: none;
   			cursor: default;
		}
		.icon {
			width: 6rem;
			
		}
	}
}
